<div class="row m-4">
  <div class="col-md-6 m-auto">
    <div class="card card-body user-card">
      <h1 class="text-center mt-3">帳號註冊</h1>
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">名字</label>
          <input type="text" id="name" name="name" class="form-control" value="{{ name }}" required />
        </div>
        <div class="mb-3">
          <label for="account" class="mb-2">Email</label>
          <input type="text" id="email" name="email" class="form-control" value="{{ email }}" required />
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">密碼</label>
          <input type="password" id="password" name="password" class="form-control" value="{{ password }}" required />
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="mb-2">密碼確認</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
        </div>
        <div class="d-grid gap-2 col-4 mx-auto ">
          <button type="submit" class="btn btn-primary">註冊</button>
        </div>
      </form>
      <p class="lead mt-4">
        已經有帳號了
        <a href="/signin" class="btn btn-success ms-3">登入</a>
      </p>
    </div>
  </div>
</div>