<div class="row m-4">
  <div class="col-md-6 m-auto">
    <div class="card card-body user-card">
      <h1 class="text-center mt-3">帳號註冊</h1>
      <form action="/users/register" method="POST">
        {{> signupTable}}
        <div class="d-grid gap-2 col-4 mx-auto ">
          <button type="submit" class="btn btn-primary">註冊</button>
        </div>
      </form>
      <p class="lead mt-4">
        已經有帳號了
        <a href="/signin" class="btn btn-success ms-3">登入</a>
      </p>
    </div>
  </div>
</div>